<ion-header>
  <ion-toolbar>
    <ion-title>Checkout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Product Details</ion-card-subtitle>
      <ion-card-title>All Subjects WB Class 10</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum in similique quisquam voluptatum accusamus
        dolores praesentium esse soluta nihil, quibusdam quo, ea reprehenderit vitae excepturi doloremque cum suscipit.
        Architecto, fuga.
      </p>
      <p><b>Subscription for 1 Year</b></p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>User Details</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><b>Name : </b> Aurghyadip Kundu</p>
      <p><b>Mobile Number : </b> 7044475070</p>
      <p><b>Address : </b> P-38, Nivedita Park, Kolkata - 96</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Order Summery</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>
            <h3>Course Name</h3>
            <p>All Subjects WB Class 10</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Price</h3>
            <p>{{ 300 | currency:'INR'}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-button color="success" class="center-button">
        <ion-icon slot="start" name="card-outline"></ion-icon>
        Checkout
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>