<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button tab="study">
      <ion-icon name="book"></ion-icon>
      <ion-label>Study</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="exams">
      <ion-icon name="checkbox"></ion-icon>
      <ion-label>Exams</ion-label>
      <ion-badge color="danger">6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
