<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button tab="study" *ngIf="user?.user_detail.subscription">
      <ion-icon name="book"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="courses" *ngIf="!user?.user_detail.subscription">
      <ion-icon name="book"></ion-icon>
      <ion-label>Courses</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="orders">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Orders</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="exams" *ngIf="user?.user_detail.subscription">
      <ion-icon name="checkbox"></ion-icon>
      <ion-label>Exams</ion-label>
      <ion-badge color="danger">6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>