.red-text {
    color: hsl(348, 100%, 61%);
    font-weight: 700;
}

.slim-text {
    font-weight: 200;
}

.xtreme-success {
    margin: 10px;
}

.xtreme-success h1{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}