.text-margined {
    margin: 10px;
}

.description-text {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.price-text {
    margin-bottom: 20px;
    text-align: center;
    font-size: x-large;
    font-weight: 800;
}

.discount-text {
    margin-top: 20px;
    text-align: center;
    font-size: small;
}

.buy-button {
    margin: 10px;
}