<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header [translucent]="false" collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card *ngIf="user">
    <ion-card-content>
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="url+user.user_detail.img.url" alt="">
        </ion-avatar>
        <ion-label>
          <h2>{{user.user_detail.firstname}} {{user.user_detail.lastname}}</h2>
          <h3>{{user.email}}</h3>
          <p>Course Enrolled : {{course?.name}}</p>
          <p>Member Since : {{user.created_at}}</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-list *ngIf="course?.subjects">
    <ion-list-header>
      List of Available Subjects
    </ion-list-header>
    <ion-item *ngFor="let subject of course.subjects" (click)="showChapters(subject.id)">
      <ion-label>
        <p>{{subject?.name}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>