<ion-header>
  <ion-toolbar>
    <ion-title>Exams</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" [translucent]="false">
    <ion-toolbar>
      <ion-title size="large">Exams</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-label>
        <h3>Physical Science Exam</h3>
        <p>{{today}}</p>
      </ion-label>
      <ion-badge slot="end" color="success">DONE</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>English Exam</h3>
        <p>{{today}}</p>
      </ion-label>
      <ion-badge slot="end" color="success">DONE</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Mathematics Exam</h3>
        <p>{{today}}</p>
      </ion-label>
      <ion-badge slot="end" color="success">DONE</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Life Science Exam</h3>
        <p>{{today}}</p>
      </ion-label>
      <ion-badge slot="end" color="danger">PENDING</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Bengali Exam</h3>
        <p>{{today}}</p>
      </ion-label>
      <ion-badge slot="end" color="danger">PENDING</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>History Exam</h3>
        <p>{{today}}</p>
      </ion-label>
      <ion-badge slot="end" color="danger">PENDING</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Geography Exam</h3>
        <p>{{today}}</p>
      </ion-label>
      <ion-badge slot="end" color="danger">PENDING</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Geography 2</h3>
        <p>{{today}}</p>
      </ion-label>
      <ion-badge color="primary" slot="end">NEW</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>