<ion-header>
  <ion-toolbar>
    <ion-title>Courses</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header [translucent]="false" collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Courses</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list *ngIf="courses">
    <ion-item *ngFor="let course of courses" (click)="payWithRazorpay(course)">
      <ion-label>
        {{course?.name}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>