<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="backButtonClicked()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{courseName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="course?.subjects">
    <ion-list-header>
      <ion-label>
        {{course.description}}
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let subject of course.subjects">
      <ion-label>
        {{subject.name}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>