.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginFormText {
  display: block;
  text-align: center;
  justify-content: center;
  align-self: center;
}

ion-img {
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 20px;
}
